name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for tags
          persist-credentials: true

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Run Go tests
        run: go test ./...

      - name: Install dependencies
        run: npm ci

      - name: Run semantic-release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
